name: Build on Windows

on:
  push:
    paths:
      - '**.cpp'
      - '**.h'
      - '**CMakeLists.txt'
      - '.github/workflows/build-windows.yml'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v1

      - name: Configure
        run: cmake -B Builds -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build Builds --config Release

      - name: Find DLLs
        id: find_dlls
        run: |
          $dlls = Get-ChildItem -Path Builds -Recurse -Filter *.dll | ForEach-Object { $_.FullName }
          if ($dlls.Count -eq 0) {
            Write-Error "âŒ No DLLs were found!"
          } else {
            echo "Found DLLs: $dlls"
            echo "dlls=$dlls" >> $env:GITHUB_OUTPUT
          }

      - name: Upload DLL artifact
        uses: actions/upload-artifact@v4
        with:
          name: DynamicRangeSentinel
          path: ${{ steps.find_dlls.outputs.dlls }}
